<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.suteren"
	android:versionCode="2"
	android:versionName="1.1" >

	<uses-sdk android:minSdkVersion="10" />

	<application
		android:icon="@drawable/fg"
		android:label="@string/app_name" >
		<activity
			android:label="@string/app_name"
			android:name=".FGDroidActivity" android:noHistory="true" android:launchMode="singleTop" android:clearTaskOnLaunch="true">
			<intent-filter >
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:label="@string/app_name"
			android:name=".FGDroidService" >
			<intent-filter >
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</service>
	</application>

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>